#container {
    color: aliceblue;
    width: 500px;
    height: 6px;
    padding: 15px;
}
body {
    background: url('../images/cookie-monster.jpg');
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover; 
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1 {
    font-size: 50px;
    color: black
}

h2 {
    color: black; 
    width: 330px;
    text-align: center;
}
a {
    color: yellow;
    text-decoration: none;
}